<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">
  <resultMap type="Approval" id="approvalResultSet">
  	<id property="aId" column="AID"/>
  	<result property="eId" column="EID"/>
  	<result property="aName" column="ANAME"/>
  	<result property="aStatus" column="ASTATUS"/>
  	<result property="astartDate" column="ASTARTDATE"/>
  	<result property="aendDate" column="AENDDATE"/>
  	<result property="eName" column="ENAME"/>
  	<result property="dName" column="DNAME"/>
  	<result property="atNum" column="ATNUM"/>
  </resultMap>
  
  <resultMap type="LineList" id="lListResultSet">
  	<id property="eId" column="EID"/>
  	<result property="eName" column="ENAME"/>
  	<result property="rName" column="RNAME"/>
  	<result property="dName" column="DNAME"/>
  	<result property="rNum" column="RNUM"/>
  </resultMap>
  
  <resultMap type="ApprovalPeople" id="aPeopleResultSet">
  	<id property="eId" column="EID"/>
  	<result property="eName" column="ENAME"/>
  	<result property="rName" column="RNAME"/>
  	<result property="dName" column="DNAME"/>
  </resultMap>
  
  <resultMap type="Line" id="lineResultSet">
  	<id property="lineId" column="LINEID"/>
  	<result property="aId" column="AID"/>
  	<result property="leId" column="EID"/>
  	<result property="lStatus" column="LSTATUS"/>
  	<result property="lContent" column="LCONTENT"/>
  	<result property="lLevel" column="LLEVEL"/>
  	<result property="lDate" column="LDATE"/>
  	<result property="eName" column="ENAME"/>
  	<result property="rName" column="RNAME"/>
  	<result property="dName" column="DNAME"/>
  </resultMap>
  
  <resultMap type="Holiday" id="holidayResultSet">
  	<id property="aId" column="AID"/>
  	<result property="hterm" column="HTERM"/>
  	<result property="hstartDate" column="STARTDATE"/>
  	<result property="hendDate" column="ENDDATE"/>
  	<result property="hReason" column="HREASON"/>
  </resultMap>
  
  <resultMap type="attachment" id="attachmentResultSet">
	<id property="fId" column="FID"/>
  	<result property="aId" column="AID"/>
  	<result property="filePath" column="FILEPATH"/>
  	<result property="originName" column="ORIGINNAME"/>
  	<result property="changeName" column="CHANGENAME"/>
  	<result property="fileLevel" column="FILELEVEL"/>
  </resultMap>

  
  <select id="selectLineList" resultMap="lListResultSet">
	  SELECT E.EID, E.ENAME, R.RNAME, D.DNAME,
	         row_number() over(partition by d.dname order by e.ename) as RNUM
      FROM EMPLOYEE E
      JOIN DEPARTMENT D ON(E.DID = D.DID)
      JOIN RANK R ON(E.RID = R.RID)
      WHERE STATUS='Y'
  </select>
  
  <select id="selectApprovalPeople" resultMap="aPeopleResultSet">
  		SELECT E.EID, E.ENAME, R.RNAME, D.DNAME
  		FROM EMPLOYEE E
      	JOIN DEPARTMENT D ON(E.DID = D.DID)
      	JOIN RANK R ON(E.RID = R.RID)
      	WHERE E.EID=#{eId}
  </select>
  
  <insert id="insertApproval" parameterType="Approval">
  	INSERT INTO APPROVAL VALUES(
  		SEQ_AID.NEXTVAL, #{eId}, #{aName}, #{aName}, #{aStatus}, SYSDATE, NULL)
  </insert>
  
  <insert id="insertAttachment" parameterType="java.util.List">
  	INSERT INTO ATTACHMENT(FID, AID, FILEPATH, ORIGINNAME, CHANGENAME, FUPLOADDATE, FILELEVEL)
  		SELECT SEQ_FID.NEXTVAL AS FID, SEQ_AID.CURRVAL AS AID, T.*, SYSDATE, 40
  		FROM
  		<foreach collection="list" item="list" open="(" close=")" separator="union all"> 
  		 SELECT #{list.filePath} AS FILEPATH, 
  				#{list.originName} AS ORIGINNAME, 
  				#{list.changeName} AS CHANGENAME
  			FROM DUAL
  		</foreach>T
  </insert>
  
  <delete id="deleteAttachment">
  	DELETE FROM ATTACHMENT
  	WHERE AID=#{aId}
  </delete>
  
  <insert id="insertSaveAttachment" parameterType="java.util.List">
  	INSERT INTO ATTACHMENT(FID, AID, FILEPATH, ORIGINNAME, CHANGENAME, FUPLOADDATE, FILELEVEL)
  		SELECT SEQ_FID.NEXTVAL AS FID, T.*, SYSDATE, 40
  		FROM
  		<foreach collection="list" item="list" open="(" close=")" separator="union all"> 
  		 SELECT #{list.aId} AS AID,
  		 		#{list.filePath} AS FILEPATH, 
  				#{list.originName} AS ORIGINNAME, 
  				#{list.changeName} AS CHANGENAME
  			FROM DUAL
  		</foreach>T
  </insert>
  
  <select id="selectAttachment" resultMap="attachmentResultSet">
  	SELECT AT.FID, AT.AID, AT.FILEPATH, AT.ORIGINNAME, AT.CHANGENAME, AT.FILELEVEL
     FROM ATTACHMENT AT
     JOIN APPROVAL A ON(A.AID = AT.AID)
     WHERE AT.AID=#{aId}
  </select>
  
  <insert id="insertLine" parameterType="java.util.List">
  	INSERT INTO LINE(LINEID, AID, EID, LSTATUS, LLEVEL)
  		SELECT SEQ_LINEID.NEXTVAL AS LINEID, SEQ_AID.CURRVAL AS AID, EID, 'I', LLEVEL
  		FROM
  		<foreach collection="list" item="llist" open="(" close=")" separator="union all"> 
  		 SELECT #{llist.leId} AS EID, 
  				#{llist.lLevel} AS LLEVEL
  			FROM DUAL
  		</foreach>
  </insert>
  
   <insert id="insertHoliday" parameterType="Holiday">
  	INSERT INTO HOLIDAY VALUES(
  		SEQ_AID.CURRVAL, #{hdType}, #{hterm}, #{hstartDate}, #{hendDate}, #{hReason})
  </insert>
  
  <select id="selectRequestListCount" resultType="_int">
  	SELECT COUNT(*)
  	FROM APPROVAL
  	WHERE NOT ASTATUS='S'
  	AND EID=#{eId} 
  </select>
  
  <select id="selectRequestiListCount" resultType="_int">
  	SELECT COUNT(*)
  	FROM APPROVAL
  	WHERE ASTATUS='I'
  	AND EID=#{eId} 
  </select>
  
  <select id="selectRequestyListCount" resultType="_int">
  	SELECT COUNT(*)
  	FROM APPROVAL
  	WHERE ASTATUS='Y'
  	AND EID=#{eId}
  </select>
  
  <select id="selectRequestnListCount" resultType="_int">
  	SELECT COUNT(*)
  	FROM APPROVAL
  	WHERE ASTATUS='N'
  	AND EID=#{eId}
  </select>
  
  <select id="selectRequestList" resultMap="approvalResultSet">
  		SELECT AP.*, (SELECT COUNT(*)
    			FROM ATTACHMENT AT
      			JOIN APPROVAL A ON (AT.AID = A.AID)
                WHERE A.AID = AP.AID) AS ATNUM
  	FROM APPROVAL AP
  	WHERE NOT AP.ASTATUS='S'
  	AND AP.EID=#{eId}
  	ORDER BY AP.AID DESC
  </select>
  
  <select id="selectRequestiList" resultMap="approvalResultSet">
  		SELECT AP.*, (SELECT COUNT(*)
    			FROM ATTACHMENT AT
      			JOIN APPROVAL A ON (AT.AID = A.AID)
                WHERE A.AID = AP.AID) AS ATNUM
  	FROM APPROVAL AP
  	WHERE AP.ASTATUS='I'
  	AND AP.EID=#{eId}
  	ORDER BY AP.AID DESC
  </select>
  
  <select id="selectRequestyList" resultMap="approvalResultSet">
  		SELECT AP.*, (SELECT COUNT(*)
    			FROM ATTACHMENT AT
      			JOIN APPROVAL A ON (AT.AID = A.AID)
                WHERE A.AID = AP.AID) AS ATNUM
  	FROM APPROVAL AP
  	WHERE AP.ASTATUS='Y'
  	AND AP.EID=#{eId}
  	ORDER BY AP.AID DESC
  </select>
  
  <select id="selectRequestnList" resultMap="approvalResultSet">
  	SELECT AP.*, (SELECT COUNT(*)
    			FROM ATTACHMENT AT
      			JOIN APPROVAL A ON (AT.AID = A.AID)
                WHERE A.AID = AP.AID) AS ATNUM
  	FROM APPROVAL AP
  	WHERE AP.ASTATUS='N'
  	AND AP.EID=#{eId}
  	ORDER BY AP.AID DESC
  </select>
  
  <select id="selectSearchListCount" resultType="_int">
  	SELECT COUNT(*)
  	FROM APPROVAL A
  	JOIN EMPLOYEE E ON(A.EID = E.EID)
  	JOIN DEPARTMENT D ON(E.DID = D.DID)
  	WHERE A.ASTARTDATE LIKE'%'||#{search}||'%'
  	OR A.ANAME LIKE '%'||#{search}||'%'
  	OR A.ATITLE LIKE '%'||#{search}||'%'
  	OR E.ENAME LIKE '%'||#{search}||'%'
  	OR D.DNAME LIKE '%'||#{search}||'%'
  	OR A.AENDDATE LIKE '%'||#{search}||'%'
  </select>
  
   <select id="selectSearchList" resultMap="approvalResultSet">
  	SELECT A.AID, A.EID, A.ANAME, A.ATITLE, A.ASTATUS, A.ASTARTDATE, A.AENDDATE, E.ENAME, D.DNAME
  	FROM APPROVAL A
  	JOIN EMPLOYEE E ON(A.EID = E.EID)
  	JOIN DEPARTMENT D ON(E.DID = D.DID)
  	WHERE A.ASTARTDATE LIKE'%'||#{search}||'%'
  	OR A.ANAME LIKE '%'||#{search}||'%'
  	OR A.ATITLE LIKE '%'||#{search}||'%'
  	OR E.ENAME LIKE '%'||#{search}||'%'
  	OR D.DNAME LIKE '%'||#{search}||'%'
  	OR A.AENDDATE LIKE '%'||#{search}||'%'
  	ORDER BY AID DESC
  </select>
  
  <select id="selectSaveListCount" resultType="_int">
  	SELECT COUNT(*)
  	FROM APPROVAL
  	WHERE ASTATUS='S'
  	AND EID=#{eId} 
  </select>
  
  <select id="selectSaveList" resultMap="approvalResultSet">
  	SELECT AP.*, (SELECT COUNT(*)
    			FROM ATTACHMENT AT
      			JOIN APPROVAL A ON (AT.AID = A.AID)
                WHERE A.AID = AP.AID) AS ATNUM
  	FROM APPROVAL AP
  	WHERE AP.ASTATUS='S'
  	AND AP.EID=#{eId}
  	ORDER BY AP.AID DESC
  </select>
  
  <delete id="deleteSaveApproval">
  	DELETE FROM APPROVAL
  	<where> 
  	<foreach collection="array" item="aId" open="(" close=")" separator="AND"> 
  		AID = #{aId} 
  	</foreach> 
  	</where>
  </delete>
  
  <delete id="deleteLine">
  	DELETE FROM LINE
  	<where> 
  	<foreach collection="array" item="aId" open="(" close=")" separator="AND"> 
  		AID = #{aId} 
  	</foreach> 
  	</where>
  </delete>
  
  <select id="selectApproval" resultMap="approvalResultSet">
  	SELECT A.*, E.ENAME, D.DNAME
	FROM APPROVAL A
	JOIN EMPLOYEE E ON(A.EID = E.EID)
	JOIN DEPARTMENT D ON(E.DID = D.DID)
  	WHERE AID=#{aId}
  </select>
  
  <select id="selectLine" resultMap="lineResultSet">
  	 SELECT L.*, E.ENAME AS ENAME, R.RNAME AS RNAME, D.DNAME AS DNAME  
     FROM LINE L
     JOIN EMPLOYEE E ON(L.EID = E.EID)
     JOIN DEPARTMENT D ON(E.DID = D.DID)
     JOIN RANK R ON(E.RID = R.RID)
     WHERE L.AID=#{aId}
  </select>
  
  <select id="selectHoliday" resultMap="holidayResultSet">
  	SELECT *
  	FROM HOLIDAY
  	WHERE AID=#{aId}
  </select>
  
  <update id="updateApproval" parameterType="Approval">
  	UPDATE APPROVAL
	SET ASTATUS=#{aStatus}, ASTARTDATE=SYSDATE
	WHERE AID=#{aId}		
  </update>
  
  <update id="updateHoliday" parameterType="Holiday">
  	UPDATE HOLIDAY
	SET HDTYPE=#{hdType}, HTERM=#{hterm}, STARTDATE=#{hstartDate} ,ENDDATE=#{hendDate} ,HREASON=#{hReason}
	WHERE AID=#{aId}
  </update>
  
   <delete id="deleteSaveLine">
  	DELETE FROM LINE
 	WHERE AID=#{aId}
  </delete>
  
  <insert id="insertSaveLine" parameterType="java.util.List">
  	INSERT INTO LINE(LINEID, AID, EID, LSTATUS, LLEVEL)
  		SELECT SEQ_LINEID.NEXTVAL AS LINEID, AID, EID, 'I', LLEVEL
  		FROM
  		<foreach collection="list" item="llist" open="(" close=")" separator="union all"> 
  		 SELECT #{llist.aId} AS AID,
  		 		#{llist.leId} AS EID, 
  				#{llist.lLevel} AS LLEVEL
  			FROM DUAL
  		</foreach>
  </insert>
  
  <select id="selectWaitingListCount" resultType="_int">
  	
  </select>
  
  <select id="selectWaitingList" resultMap="approvalResultSet">
  	
  </select>
  

</mapper>
