<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="emailMapper">
	<resultMap type="RsEmail" id="emailResultSet">
		<id property="mId" column="MID"/>
		<result property="eeId" column="EEID"/>
		<result property="mTitle" column="MTITLE"/>
		<result property="mContent" column="MCONTENT"/>
		<result property="mReceipt" column="MRECEIPT"/>
		<result property="sendDate" column="SENDDATE"/>
		<result property="mStatus" column="MSTATUS"/>
		<result property="sendStatus" column="SENDSTATUS"/>
		<result property="mLevel" column="MLEVEL"/>
		<result property="reId" column="REID"/>
		<result property="erLevel" column="ERLEVEL"/>
		<result property="receiveDate" column="RECEIVE_DATE"/>
		<result property="eName" column="ENAME"/>
		<result property="dName" column="DNAME"/>
	</resultMap>
	
	<resultMap type="EmailAddr" id="empResultSet">
		<id property="eId" column="EID"/>
		<result property="dId" column="DID"/>
		<result property="rId" column="RID"/>
		<result property="ePwd" column="EPWD"/>
		<result property="eName" column="ENAME"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="salary" column="SALARY"/>
		<result property="joinDate" column="JOIN_DATE"/>
		<result property="leaveDate" column="LEAVE_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="holiday" column="HOLIDAY"/>
		<result property="eBirth" column="EBIRTH"/>
		<result property="rName" column="RNAME"/>
		<result property="dName" column="DNAME"/>
		<result property="rNum" column="rnum"/>
	</resultMap>
	
	<resultMap type="Ereceiver" id="receiverResultSet">
		<result property="mId" column="MID"/>
		<result property="eId" column="EID"/>
		<result property="erLevel" column="ERLEVEL"/>
		<result property="receiveDate" column="RECEIVE_DATE"/>
	</resultMap>
	<resultMap type="Email" id="checkResultSet">
		<id property="mId" column="MID"/>
		<result property="eeId" column="EEID"/>
		<result property="mTitle" column="MTITLE"/>
		<result property="mContent" column="MCONTENT"/>
		<result property="mReceipt" column="MRECEIPT"/>
		<result property="sendDate" column="SENDDATE"/>
		<result property="mStatus" column="MSTATUS"/>
		<result property="sendStatus" column="SENDSTATUS"/>
		<result property="mLevel" column="MLEVEL"/>
	</resultMap>
	
	<!-- 받은메일리스트 개수 -->
	<select id="selectReceiveListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EMAIL E
		JOIN ERECEIVER R ON(E.MID = R.MID)
		WHERE R.EID = #{id}
		AND SENDSTATUS = 'Y'
		AND MSTATUS = 'Y'
	</select>
	
	<!-- 보낸메일리스트 개수 -->
	<select id="selectSendListCount" resultType="_int">
		SELECT COUNT(DISTINCT E.MID)
		FROM EMAIL E
		LEFT JOIN ERECEIVER R ON(E.MID = R.MID)
		WHERE E.EID = #{id}
		AND SENDSTATUS = 'Y'
		AND MSTATUS = 'Y'
		AND R.ERLEVEL = 1
	</select>
	
	<!-- 임시저장리스트 개수 -->
	<select id="selectTempListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EMAIL E
		JOIN ERECEIVER R ON(E.MID = R.MID)
		WHERE E.EID = #{id}
		AND SENDSTATUS = 'N'
		AND MSTATUS = 'Y'
	</select>
	
	<!-- 받은메일리스트 목록 셀렉트 -->
	<select id="selectReceiveList" resultMap = "emailResultSet">
		SELECT E.MID, E.EID AS EEID, E.MTITLE, E.MCONTENT, E.MRECEIPT, E.SENDDATE, E.MSTATUS, E.SENDSTATUS, E.MLEVEL,
				R.MID, R.EID AS REID, R.ERLEVEL, R.RECEIVE_DATE, L.ENAME, D.DNAME
		FROM EMAIL E
		JOIN ERECEIVER R ON(E.MID = R.MID)
		JOIN EMPLOYEE L ON(E.EID = L.EID)
		JOIN DEPARTMENT D ON(L.DID = D.DID)
		WHERE R.EID = #{id}
		AND SENDSTATUS = 'Y'
		AND E.MSTATUS = 'Y'
		ORDER BY SENDDATE DESC, E.MID DESC, R.ERLEVEL ASC, REID ASC
	</select>
	
	<!-- 보낸메일리스트 목록 셀렉트 -->
	<select id="selectSendList" resultMap = "emailResultSet">
		SELECT E.MID, E.EID AS EEID, E.MTITLE, E.MCONTENT, E.MRECEIPT, E.SENDDATE, E.MSTATUS, E.SENDSTATUS, E.MLEVEL,
				R.MID, R.EID AS REID, R.ERLEVEL, R.RECEIVE_DATE, L.ENAME, D.DNAME
		FROM EMAIL E
		JOIN ERECEIVER R ON(E.MID = R.MID)
		JOIN EMPLOYEE L ON(R.EID = L.EID)
		JOIN DEPARTMENT D ON(L.DID = D.DID)
		WHERE E.EID = #{eeId}
		AND SENDSTATUS = 'Y'
		AND E.MSTATUS = 'Y'
		AND R.ERLEVEL = 1
        AND (E.MID, R.EID) IN (SELECT MID, MIN(EID)
                                FROM ERECEIVER
                                WHERE ERLEVEL = 1
                                GROUP BY MID)
		ORDER BY SENDDATE DESC, E.MID DESC, R.ERLEVEL ASC, REID ASC
	</select>
	
	<!-- 임시저장메일리스트 목록 셀렉트 -->
	<select id="selectTempList" resultMap = "emailResultSet">
		SELECT E.MID, E.EID AS EEID, E.MTITLE, E.MCONTENT, E.MRECEIPT, E.SENDDATE, E.MSTATUS, E.SENDSTATUS, E.MLEVEL,
				R.MID, R.EID AS REID, R.ERLEVEL, R.RECEIVE_DATE, L.ENAME, D.DNAME
		FROM EMAIL E
		LEFT JOIN ERECEIVER R ON(E.MID = R.MID)
		LEFT JOIN EMPLOYEE L ON(R.EID = L.EID)
		LEFT JOIN DEPARTMENT D ON(L.DID = D.DID)
		WHERE E.EID = #{id}
		AND SENDSTATUS = 'N'
		AND E.MSTATUS = 'Y'
		AND R.ERLEVEL = 1
		AND (E.MID, R.EID) IN (SELECT MID, MIN(EID)
                                FROM ERECEIVER
                                WHERE ERLEVEL = 1
                                GROUP BY MID)
        OR R.EID IS NULL
		ORDER BY SENDDATE DESC, E.MID DESC, R.ERLEVEL ASC, REID ASC
	</select>
	
	<select id="selectEmpListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EMPLOYEE
		WHERE STATUS='Y'
	</select>
	
	<select id="selectEmpAddrList" resultMap="empResultSet">
		SELECT E.EID, E.DID, E.RID, E.EPWD, E.ENAME, E.EMAIL, E.PHONE, E.ADDRESS, E.SALARY, E.JOIN_DATE, E.LEAVE_DATE,
				E.STATUS, E.HOLIDAY, E.EBIRTH, R.RNAME, D.DNAME,
                row_number() over(partition by d.dname order by e.ename) as rnum
		FROM EMPLOYEE E
		JOIN DEPARTMENT D ON(E.DID = D.DID)
		JOIN RANK R ON(E.RID = R.RID)
		WHERE STATUS='Y'
	</select>
	
	<select id="sEmailDetail" parameterType="_int" resultMap="emailResultSet">
		SELECT *
		FROM EMAIL
		WHERE MID = #{mId}
	</select>
	
	<select id="receiverList" resultMap = "receiverResultSet">
		SELECT *
		FROM ERECEIVER
		WHERE MID = #{mId}
		AND ERLEVEL = 1
	</select>
	<select id="refList" resultMap = "receiverResultSet">
		SELECT *
		FROM ERECEIVER
		WHERE MID = #{mId}
		AND ERLEVEL = 2
	</select>
	<select id="hideList" resultMap = "receiverResultSet">
		SELECT *
		FROM ERECEIVER
		WHERE MID = #{mId}
		AND ERLEVEL = 3
	</select>
	
	<select id="selectSendId" resultType="string">
		SELECT EID
		FROM EMAIL
		WHERE MID=#{mid}
	</select>
	
	<!-- insert 이메일 -->
	<insert id="insertEmail" parameterType="Email">
		INSERT INTO EMAIL VALUES(
			SEQ_MID.NEXTVAL, #{eeId}, #{mTitle}, #{mContent},
			DEFAULT, SYSDATE, DEFAULT, DEFAULT, 10)
	</insert>
	
	<insert id="insertRec" parameterType="java.util.List">
			<foreach collection="list" item="rlist" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" "> 
		INTO ERECEIVER (MID, EID, ERLEVEL, RECEIVE_DATE) VALUES (SEQ_MID.CURRVAL, #{rlist.eId}, 1, NULL)
		</foreach>
	</insert>
	<insert id="insertRef" parameterType="java.util.List">
			<foreach collection="list" item="flist" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" "> 
		INTO ERECEIVER (MID, EID, ERLEVEL, RECEIVE_DATE) VALUES (SEQ_MID.CURRVAL, #{flist.eId}, 2, NULL)
		</foreach>
	</insert>
	<insert id="insertHid" parameterType="java.util.List">
			<foreach collection="list" item="hlist" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" "> 
		INTO ERECEIVER (MID, EID, ERLEVEL, RECEIVE_DATE) VALUES (SEQ_MID.CURRVAL, #{hlist.eId}, 3, NULL)
		</foreach>
	</insert>
	
	<!-- insert 임시저장 -->
	<insert id="insertTemp" parameterType="Email">
		INSERT INTO EMAIL VALUES(
			SEQ_MID.NEXTVAL, #{eeId}, #{mTitle}, #{mContent},
			DEFAULT, SYSDATE, DEFAULT, 'N', 10
		)
	</insert>
	
	<!-- *** 임시저장 하는것들 *** -->
	<!-- 임시저장 전에 있는지 확인 -->
	<select id="checkmId" resultMap = "checkResultSet">
		SELECT *
		FROM EMAIL
		WHERE EID = #{id}
	</select>
	<!-- 받는사람 삭제 후 재등록 할것임 -->
	<delete id="deleteReceiver" parameterType="_int">
		DELETE FROM ERECEIVER
		WHERE MID=#{m}
	</delete>
	<!-- 임시저장되어있는 메일 제목, 내용 수정  -->
	<update id="againTemp" parameterType="Email">
		UPDATE EMAIL
		SET MTITLE=#{mTitle},
		    MCONTENT=#{mContent},
		    SENDDATE=SYSDATE
		WHERE MID=#{mId}
	</update>
	<insert id="updateTempRec" parameterType="java.util.List">
			<foreach collection="list" item="rlist" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" "> 
		INTO ERECEIVER (MID, EID, ERLEVEL, RECEIVE_DATE) VALUES (#{rlist.mId}, #{rlist.eId}, 1, NULL)
		</foreach>
	</insert>
	<insert id="updateTempRef" parameterType="java.util.List">
			<foreach collection="list" item="flist" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" "> 
		INTO ERECEIVER (MID, EID, ERLEVEL, RECEIVE_DATE) VALUES (#{flist.mId}, #{flist.eId}, 2, NULL)
		</foreach>
	</insert>
	<insert id="updateTempHid" parameterType="java.util.List">
			<foreach collection="list" item="hlist" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" "> 
		INTO ERECEIVER (MID, EID, ERLEVEL, RECEIVE_DATE) VALUES (#{hlist.mId}, #{hlist.eId}, 3, NULL)
		</foreach>
	</insert>
	
	<!-- 임시저장 이제 전송하는거다!! -->
	<update id="updateTempToSend" parameterType="Email">
		UPDATE EMAIL
		SET MTITLE=#{mTitle},
		    MCONTENT=#{mContent},
		    SENDSTATUS='Y',
		    SENDDATE=SYSDATE
		WHERE MID=#{mId}
	</update>
</mapper>
