<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pteamMapper">
	
	<resultMap id="employeeResultSet" type="Employee">
		<id property="eId" column="EID"/>
 		<result property="dId" column="DID"/>
		<result property="rId" column="RID"/> 
		<result property="ePwd" column="EPWD"/>
		<result property="eName" column="ENAME"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
 		<result property="salary" column="SALARY"/> 
		<result property="join_date" column="JOIN_DATE"/>
 		<result property="leave_date" column="LEAVE_DATE"/> 
		<result property="status" column="STATUS"/>
 		<result property="holiday" column="HOLIDAY"/> 
 		<result property="eBirth" column="EBIRTH"/>	
 		<result property="rName" column="RNAME"/>
 		<result property="dName" column="DNAME"/>	
	</resultMap>
	
	<resultMap id="rankResultSet" type="Rank">
		<id property="rId" column="RID"/>
		<result property="rName" column="RNAME"/>
	</resultMap>
	
	<resultMap id="departmentResultSet" type="Department">
		<id property="dId" column="DID"/>
		<result property="dName" column="DNAME"/>
	</resultMap>
	
	
	<resultMap id="ceResultSet" type="Certifrcate">
		<id property="lId" column="LID"/>
		<result property="eId" column="EID"/>
		<result property="ce_Name" column="CE_NAME"/>
		<result property="rating" column="RATING"/>
		<result property="agency" column="AGENCY"/>
		<result property="issueDate" column="ISSUEDATE"/>
		<result property="exprationDate" column="EXPRATIONDATE"/>
	</resultMap>
	
	
	<resultMap id="CareerResultSet" type="Career">
		<id property="cId" column="CID"/>
		<result property="eId" column="EID"/>
		<result property="c_Department" column="C_DEPARTMENT"/>
		<result property="rank" column="RANK"/>
		<result property="employmentDate" column="EMPLOYMENTDATE"/>
		<result property="resignation" column="RESIGNATION"/>
		<result property="rectal" column="RECTAL"/>
	</resultMap>
	
	
	<resultMap id="EducationResultSet" type="Education">
		<id property="edId" column="EDID"/>
		<result property="eId" column="EID"/>
		<result property="sName" column="SNAME"/>
		<result property="admissonDate" column="ADMISSIONDATE"/>
		<result property="graduationDay" column="GRADUATIONDAY"/>
		<result property="sType" column="STYPE"/>
		<result property="department" column="DEPARTMENT"/>
		<result property="sdivision" column="SDIVISION"/>
	</resultMap>
	
	
	
	<select id="EselectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EMPLOYEE
		WHERE STATUS='Y'
	</select>
	
	<!-- 퇴직사원count -->
	<select id="NselectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EMPLOYEE
		WHERE STATUS='N'
	</select>
	
	<!-- 퇴직사원 리스트 -->
	<select id="NselectList" resultMap="employeeResultSet">
		SELECT EID, DID, RNAME, DNAME, ENAME, EMAIL, PHONE, ADDRESS, SALARY, JOIN_DATE, LEAVE_DATE, HOLIDAY, EBIRTH
		FROM EMPLOYEE
        JOIN RANK USING(RID)
        JOIN DEPARTMENT USING(DID)
		WHERE STATUS='N'
		ORDER BY RID DESC
	</select>
	
	
	<select id="EselectList" resultMap="employeeResultSet">
		SELECT EID, DID, RNAME, DNAME, ENAME, EMAIL, PHONE, ADDRESS, SALARY, JOIN_DATE, LEAVE_DATE, HOLIDAY, EBIRTH
		FROM EMPLOYEE
        JOIN RANK USING(RID)
        JOIN DEPARTMENT USING(DID)
		WHERE STATUS='Y'
		ORDER BY RID DESC
	</select>
	
	<select id="selectOne" parameterType="String" resultMap="employeeResultSet">
		SELECT *
		FROM EMPLOYEE
		WHERE EID=#{eId}
		AND STATUS='Y'
	</select>
	
	<select id="searchList" parameterType="Search" resultMap="employeeResultSet">
		<bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT * 
		FROM EMPLOYEE
		JOIN RANK USING(RID)
        JOIN DEPARTMENT USING(DID)
		<where>
			<choose>
				<when test="searchCondition == 'eName'">
					AND ENAME LIKE #{sv}
				</when>
				<when test="searchCondition == 'dName'">
					AND DNAME LIKE #{sv}
				</when>
				<when test="searchCondition == 'rName'">
					AND RNAME LIKE #{sv}
				</when>
			</choose>
		</where>
		<!-- WHERE STATUS='N' -->
		ORDER BY RID DESC
	</select>
	
	<!-- 퇴사사원 -->
	<!-- <select id="nsearchList" parameterType="Search" resultMap="employeeResultSet">
		<bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT * 
		FROM EMPLOYEE
		JOIN RANK USING(RID)
        JOIN DEPARTMENT USING(DID)
		<where>
			<choose>
				<when test="searchCondition == 'eName'">
					AND ENAME LIKE #{sv}
				</when>
				<when test="searchCondition == 'dName'">
					AND DNAME LIKE #{sv}
				</when>
				<when test="searchCondition == 'rName'">
					AND RNAME LIKE #{sv}
				</when>
			</choose>
		</where>
		WHERE STATUS='N'
		ORDER BY RID DESC
	</select> -->
	
	<!-- 직급 list -->
	<select id="selectrList" resultMap="rankResultSet">
		SELECT RID, RNAME
		FROM RANK
		ORDER BY RID DESC
	</select>
	
	<!-- 부서 list -->
	<select id="selectdList" resultMap="departmentResultSet">
		SELECT DID, DNAME
		FROM DEPARTMENT
		ORDER BY DID
	</select>
	
	<insert id="insertCe" parameterType="Certifrcate">
		INSERT INTO CERTIFRCATE
		VALUES(SEQ_LID.NEXTVAL, #{eId}, #{ce_Name}, #{rating}, #{agency}, #{issueDate}, #{exprationDate})
	</insert>
	
	<select id="selectCe" resultMap="ceResultSet">
		SELECT *
		FROM CERTIFRCATE
		WHERE EID=#{eId}
	</select>
	
	<!-- 자격증 수정 -->
	<update id="updateCe" parameterType="Certifrcate">
		UPDATE CERTIFRCATE
		SET CE_NAME=#{ce_Name},
			RATING=#{rating},
			AGENCY=#{agency},
			ISSUEDATE=#{issueDate},
			EXPRATIONDATE=#{exprationDate}
		WHERE EID=#{eId}
	</update>
	
	<!-- 경력 insert -->
	<insert id="insertCa" parameterType="Career">
		INSERT INTO CAREER
		VALUES(SEQ_CID.NEXTVAL, #{eId}, #{c_Department}, #{rank}, #{employmentDate}, #{resignation}, #{rectal})
	</insert>
	
	
	<select id="selectCa" resultMap="CareerResultSet">
		SELECT *
		FROM CAREER
		WHERE EID=#{eId}
	</select>
	
	<!-- 고등학교 학력 -->
	<insert id="insered1" parameterType="Education">
		INSERT INTO EDUCATION
		VALUES(SEQ_EDID.NEXTVAL, #{eId}, #{sName}, #{admissonDate}, #{graduationDay}, #{sType}, DEFAULT, 1)
	</insert>
	
	<select id="selectde1" resultMap="EducationResultSet">
		SELECT *
		FROM EDUCATION
		WHERE EID=#{eId}
		AND SDIVISION=1
	</select>	
</mapper>